// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.place {
	padding-left: 10px;
	overflow-y: scroll;
	max-height: 600px;
}

table {
	text-align: center;
	border-collapse: collapse;
	margin-top: 10px;
}

h1.main-header {
	border-top: 3px solid sienna;
	border-bottom: 3px solid sienna;
	padding: 10px 5px;
	margin-right: 40px;

}

a h1.main-header {

	&:hover {
		color: skyblue;
		text-decoration: underline;
	};
}

th {
	background-color: lightskyblue;
	border: 2px solid grey;
}

td {
	width: 200px;
	border: 1px solid lightgrey;
}

td.action {
	text-align: left;
	border-color: white;
}

td.action a {
	text-decoration: none;
	border: 1px solid grey;
	border-radius: 4px;
	padding: 3px;
}

div#new-form {
	display: block;
}

div.dropdown {
	margin-top: 5px;
}

div.header-pic {
	width: 100%;
	margin-left: 20px;
	margin-bottom: 20px;
}

div.header-pic img {
	height:250px;
	width: 450px;
	border-radius: 20px;
	margin: 5px;
}

ul.ul-places {
	padding-left: 0pt;
}


/*$breakpoints: (phone: 400px,
               tablet: 768px,
               desktop: 1024px) !default;

@include media(">phone", "<tablet") {

	div.header-pic img {
		width: 2vw
	}
}
*/