
<div class="bg-index"><img src="./assets/dessert.jpeg" /></div>
<div class="bg-index1"><img src="./assets/skiing.jpeg" /></div>
<div class="photo-flex">
<div class="bg-index2"><img src="./assets/lamb.jpeg" /></div>
<div class="bg-index3"><img src="./assets/shopping.jpeg" /></div>
</div>
<div class="bg-index4"><img src="./assets/compass.jpeg" /></div>

<div class="content">
	<h1 class="title-index">Travela</h1>

	<!-- <button><a href="/trips/new">Create an Itinerary</a></button> -->
	<button class="button-index"><a href="/trips">Start Planning</a></button>
	<%#= javascript_pack_tag 'hello_react' %>
</div>
