<div class="bg-index"><img src="./assets/sunrise.jpeg" /></div>

<div class="content">
	<h1>Travela</h1>

	<button><a href="/trips/new">Create an Itinerary</a></button>
	<button><a href="/trips">Search for Places</a></button>
	<%#= javascript_pack_tag 'hello_react' %>
</div>